<mat-toolbar color="primary" class="header">
  <div class="left">
    <button mat-icon-button class="menu-btn" (click)="toggleSidebar()" matTooltip="Toggle sidebar">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo">
      <img src="images/ira_logo_hd.png" alt="IRA logo" onerror="this.src='https://via.placeholder.com/45'">
      <span>Institut des Régions Arides</span>
    </div>
  </div>

  <div class="right">
    <button mat-icon-button [matBadge]="notificationCount" matBadgeColor="warn" matTooltip="Notifications" class="icon-btn">
      <mat-icon>notifications_none</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
      <img src="https://ui-avatars.com/api/?name={{userName}}&background=0b8f7a&color=fff" alt="User avatar" class="user-avatar">
      <span class="user-name">{{ userName }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" class="user-menu">
      <div class="menu-header">
        <img src="https://ui-avatars.com/api/?name={{userName}}&background=0b8f7a&color=fff" alt="User avatar">
        <div>
          <div class="menu-user-name">{{ userName }}</div>
          <div class="menu-user-email">{{ userEmail }}</div>
        </div>
      </div>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="onProfileClick()">
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>

      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="onLogout()" class="logout-item">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
