<div class="left">
  <div class="logo">
    <div class="logo-icon">
      <img src="images/ira_logo_hd.png" alt="Logo" class="logo-image" />
    </div>
    Institut de Région Arides
  </div>

  <div class="left-body">
    <h2>Bienvenue sur notre plateforme de formation.</h2>
    <p>Connectez-vous pour accéder à vos cours , ou inscrivez-vous en tant qu'apprenant pour débuter votre parcours d'apprentissage.</p>
  </div>

  <footer class="left-footer">
    <span>Copyright &copy; 2025 Frello Enterprises LTD.</span>
    <a href="#">Privacy Policy</a>
  </footer>
</div>
