<div class="sidebar" [class.closed]="!isOpen">
  <div class="height-top">
    <h2>Menu</h2>
  <button class="close-btn" (click)="closeSidebar()">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
        <path d="M15 18L9 12L15 6"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"/>
      </svg>
    </button>
    </div>

  <ul>
    <li>Dashboard</li>
    <li>Users</li>
    <li>Settings</li>
  </ul>
</div>
